<div class="container">
  <div class="row mb-3">
    <% @projects.each do |project| %>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-flex align-items-stretch">
        <div class="card mb-3 card-radius" >
          <div class="card-body">
            <h2><%= project.name %></h2>
              <% project.team_members.each do |team_member| %>
                <ul>
                  <%= image_tag team_member.thumbnail %>
                  <li><%= team_member.name %></li>
                  <li><%= team_member.role %></li>
                </ul>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
