<% @projects.each do |project| %>
  <h2><%= project.name %></h2>
    <% project.team_members.each do |team_member| %>
      <ul>
        <%= image_tag team_member.thumbnail %>
        <li><%= team_member.name %></li>
        <li><%= team_member.discipline %></li>
      </ul>
    <% end %>
<% end %>
