@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cardo:400,400i&display=swap");
@import "normalize";
@import "dxw-branding";

@function escape-hexcode($colour) {
  @return "%23" + str-slice("" + $colour, 2);
}

@function dmark-svg($colour) {
  $url: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 73.5 88.2' class='pre-footer__logo'><path fill='#{escape-hexcode($colour)}' d='M29.5 0H0v88.3h29.5c24.4 0 44.2-19.8 44.2-44.2S53.8 0 29.5 0z'/></svg>";

  @return url("#{$url}");
}

@mixin dmark-icon($inner-colour, $outer-colour) {
  background: $outer-colour dmark-svg($inner-colour) center center / 50%
    no-repeat;
}

$dark-colours: (
  $navy-dark $navy $purple $purple-mid $teal $teal-mid $blue $blue-mid
);

$system-font-family-serif: $font-family-serif;

$base-line-height: 1.5;

$heading-line-height: 1.35;

body {
  background-color: $body-background-colour;
  font-family: $base-font;
  color: $base-font-colour;
}

h2 {
  font-family: $heading-font-family;
  color: $ivory;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  background-repeat: no-repeat;
  padding: 20px 20px 20px 60px ;
  background-position: 22px 25px;
  background-size: auto 20px;
  margin: 0;
}

.project {

  &:nth-of-type(8n+1) {
    h2 {
      background-color: $teal-mid;
      background-image: dmark-svg($yellow-light);
    }
  }

  &:nth-of-type(8n+2) {
    h2 {
      background-color: $blue-light;
      background-image: dmark-svg($red-mid);
    }
  }

  &:nth-of-type(8n+3) {
    h2 {
      background-color: $orange-mid;
      background-image: dmark-svg($teal-mid);
    }
  }

  &:nth-of-type(8n+4) {
    h2 {
      background-color: $red;
      background-image: dmark-svg($orange-light);
    }
  }

  &:nth-of-type(8n+5) {
    h2 {
      background-color: $teal-mid;
      background-image: dmark-svg($blue-light);
    }
  }

  &:nth-of-type(8n+6) {
    h2 {
      background-color: $red;
      background-image: dmark-svg($yellow-mid);
    }
  }

  &:nth-of-type(8n+7) {
    h2 {
      background-color: $teal;
      background-image: dmark-svg($teal-light);
    }
  }

  &:nth-of-type(8n+8) {
    h2 {
      background-color: $purple;
      background-image: dmark-svg($purple-light);
    }
  }

  display: grid;
  grid-gap: 16px;
  grid-template-columns: 3fr 7fr;
  margin: 40px 20px 40px 40px;
  padding-top: 40px;
  border-top: 1px solid $grey;

  &:first-child {
    border: none;
    padding: 0;
  }

  h2 {
    grid-column: span 1;
  }
  ul.members {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;

    li.member {
      grid-column: span 1;

      display: grid;
      grid-template-columns: 2fr 3fr;
      align-items: center;

      margin: 0;
      padding: 0;

      list-style: none;

      dl {
        padding: 10px;
        dt {
          font-family: $font-family-sans-serif;
          font-weight: 600;
          margin-bottom: 5px;
        }
        dd {
          margin-left: 0;
        }
      }

      img {
        width: 100%;
        border: 1px solid $grey-light;
      }
    }
  }
}
