/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  background-color: #02153B;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  color: #FAF6F5;
}

h1 {
  color: #FEFBFB;
}

h2 {
  font-family: "Alata", "Helvetica", "sans-serif";
  color: #D8D7D8;
}

.card {
  background-color: #00567E;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
}
