$navy-dark: #17212c;
$navy: #243746;
$cream: #f3f1e9;
$ivory: #f9f8f5;

$grey: #bdbdbd;
$grey-light: #efefec;

$yellow: #ff9e18;
$yellow-mid: #ffb259;
$yellow-light: #fcd672;
$orange: #ff5c35;
$orange-mid: #ff8d6b;
$orange-light: #ffa489;
$red: #ff595a;
$red-mid: #ff8189;
$red-light: #ffb1b9;
$purple: #69488e;
$purple-mid: #7473c0;
$purple-light: #a7a4df;
$teal: #09615d;
$teal-mid: #009490;
$teal-light: #80c7bc;
$blue: #004876;
$blue-mid: #009abf;
$blue-light: #73c3d5;

$font-family-serif: "Cardo", -apple-system, serif;
$font-family-sans-serif: "Poppins", sans-serif;

$base-font: $font-family-serif;

$heading-font-family: $font-family-sans-serif;

// Base site
$base-font-colour: $navy;
$body-background-colour: $ivory;

// Links
$link-colour: $navy;
$link-colour-light: $ivory;
